.head{
	background: orange;
	color: black;
	padding: 50px;

}
.left {
	padding: 10px;
	background-color: black;
	color: orange;
	

}
.right{
	padding: 10px;
	background-color: gray;
	color: orange;
}
.rezultatas{
	padding: 10px;
	
	border:1px solid orange;
	font-size: 40px; <!-- dydis srifto -->
	float: left;
    margin: 10px;
    background-color: grey;
	
	
	
}
#lucky_numbers{

color: white;
	
	border:1px solid black;
	font-size: 40px; <!-- dydis srifto -->
	float: left;
    margin: 10px;
    background-color: black;
    padding: 20px;
	


}
