.head{
	background: orange;
	color: black;
	padding: 50px;

}
.left {
	padding: 10px;
	background-color: black;
	color: orange;
	float: left;

}
.right{
	padding: 10px;
	background-color: gray;
	color: orange;
}
.rezultatas{
	padding: 10px;
	
	border:1px solid orange;
	font-size: 30px; <!-- dydis srifto -->
	float: left;
    margin: 10px;
	
	
	
}
